*.opendb
*.db
*.ipch
*.sqlite
*.exe
*.exp
*.ilk
*.lib
*.log
*.pdb
*.tlog
examples/msvc/.vs/*
examples/msvc/Debug/*
examples/msvc/Release/*
examples/msvc/Debug/main.obj
examples/msvc/Debug/main.obj
*.obj
*.idb
*.pch
*.obj
